a {
  text-decoration: none;
}
.navigation-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}

ul {
  list-style: none;
}

.address-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}
/* =====header====== */
.header {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
}
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header .container {
  display: flex;
  align-items: center;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
}
.header .logo {
  margin-right: 93px;
  margin-left: 20px;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.header .address-link {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-left: 330px;
}
.header-tell {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}
.navigation-item :hover,
.navigation-item :focus,
.address-link:hover,
.address-link:focus,
.header-tell:hover,
.header-tell:focus {
  color: #2196f3;
}

.adress {
  font-style: normal;
}
.header .header-tell {
  font-style: normal;
  margin-right: 20px;
  margin-left: auto;
}
.logoweb {
  color: #2196f3;
}
.logo-studio {
  color: #212121;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */

  letter-spacing: 0.03em;
}
.hero-section {
  width: 1600px;
  height: 600px;

  padding: 200px 452px;
  background: #2f303a;
}
.main-haiding {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  align-items: center;
  justify-content: center;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
}
.main-info {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}
.section-requirements {
  padding-top: 94px;
  display: flex;
  justify-content: center;
}

.list-of-requirements {
  width: 1200px;
  display: flex;
  align-items: center;

  justify-content: center;
  flex-direction: row;

  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.base-tegs {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 15px;

  color: #212121;
}
.text-idea {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.section-profession {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1600px;
  height: 480px;
  padding-top: 94px;
}

.work {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;

  padding-bottom: 50px;

  display: flex;
  justify-content: center;

  align-items: center;

  color: #212121;
}

.img-work {
  width: 370px;
  height: 294px;
  display: flex;
  align-items: center;
}

.img-set {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-work {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.over-comand {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #212121;
}
.comand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 94px 200px;

  background: rgba(245, 244, 250, 1);
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  border-radius: 0px;
}
.comand .container {
  margin-top: 50px;
  flex-direction: row;
}
.fotospec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fotospros {
  padding: 0 15px;
}
.name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  padding-top: 30px;
}
.profession {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
  padding-top: 10px;
}
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;

  background: #2f303a;
}
.footer .logo {
  padding-top: 60px;
}
.logo-studio-footer {
  color: white;
}
.adress-kiyv {
  padding-top: 20px;
}
.footer .address-link {
  padding-top: 20px;
}
.footer .header-tell {
  padding-top: 20px;
}
.footer-item {
  padding-left: 215px;
  display: flex;
}
.adress-kiyv {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
/*===============end-studio======*/
.main-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 1360px;
  margin: 0 215px;
}
.nav-portfolio-item {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.main-portfolio .container {
  display: flex;
}
.buttons {
  display: flex;
}
.nav-portfolio-item:hover,
.nav-portfolio-item:focus {
  color: #ffffff;
}
.projects {
  display: flex;
  flex-wrap: wrap;
}
.projects-item {
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 13px;
}
.example-item {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.coment-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
img {
  display: flex;
}
